* {
  margin: 0;
  padding: 0; }

body {
  background-color: #b6ce9b; }

.head-bg {
  height: 300px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background-image: url("https://picsum.photos/1920/?random");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.form {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 120px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 30px;
  background-color: #fff; }
  .form .form-description {
    font-size: 12px;
    margin: 20px 0px;
    line-height: 24px; }

.must-alert {
  color: red;
  margin-top: 10px;
  font-size: 12px; }

.question {
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  padding-bottom: 20px; }
  .question h3 {
    margin-top: 10px; }
  .question .question-description {
    font-size: 12px; }
  .question input {
    background: transparent; }
  .question input[type="text"], .question input[type="textarea"] {
    width: 70%;
    padding: 5px 0px;
    margin-top: 10px;
    border: 0px solid #fff;
    border-bottom: 1px solid #ccc; }
    .question input[type="text"]:focus, .question input[type="textarea"]:focus {
      outline: 0px solid #fff; }
    .question input[type="text"]:active, .question input[type="textarea"]:active {
      border-bottom: 1px solid #ccc; }
  .question .seletion + .seletion {
    margin-top: 15px; }
  .question label {
    font-size: 12px;
    padding-left: 5px; }
  .question input[type="textarea"] {
    width: 70%; }

.btn {
  display: inline-block;
  background-color: #1D62E9;
  padding: 10px 30px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px; }
